.header-total {
    background-color: #81e581;
}
.header-total-tickets {
    background-color: #aaaaf5;
}

.header-total-beers {
    background-color: pink;
}
.header-total-tents {
    background-color: #efc06a;
}
.header-hoomans {
    background-color: #fb7c7c;
}
.header-cols {
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}
.table-stuff {
    margin-top: 30px !important;
}
.heading-h1 {
    margin-top: 20px !important;
}
