a {
  text-decoration: underline;
}

.image {
  height: 60px;
  margin-top: 10px;
}

.image.mobile {
  display: none;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 100%;
  background-color: #161616;
}

.nav-menu {
  width: 290px;
  color: #fff;
}

.section {
  position: relative;
  height: 90vh;
  margin-top: 80px;
  background-image: url('../images/bg_1.jpg');
  background-position: 50% 50%;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.section.decree {
  height: auto;
  margin-top: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #000;
  background-image: none;
}

.container {
  color: #fff;
}

.nav-link {
  padding-top: 30px;
  padding-right: 0px;
  padding-bottom: 30px;
  float: right;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 400;
  text-align: right;
}

.paragraph {
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: Vollkorn, serif;
  color: #fff;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.brand {
  height: 80px;
}

.grid {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-2 {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-2.utopia {
  position: relative;
  background-image: url('../images/utopia.jpg');
  background-position: 50% 50%;
  background-size: cover;
  color: #fff;
}

.section-2.utopia.firsttime {
  background-image: url('../images/190514-blue-origin-colony-three-ew-416p.jpeg');
  background-position: 50% 50%;
  opacity: 1;
}

.section-2.refreshments {
  padding-bottom: 40px;
  text-align: center;
}

.section-2.weneedyou {
  background-color: #080412;
}

.div-block {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.columns.utopia-columns {
  width: 100%;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.columns.drinks {
  padding-top: 50px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.body {
  background-color: #000;
  color: #fff;
}

.paragraph-2 {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.heading {
  padding-bottom: 20px;
  font-family: Vollkorn, serif;
  font-weight: 600;
}

.heading.utopia-head {
  margin-top: 0px;
}

.slide {
  background-image: url('../images/food.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-2 {
  background-image: url('../images/team.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-3 {
  background-image: url('../images/lube2.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.slider {
  height: 60vh;
  margin: 100px auto 0px;
}

.column {
  padding-right: 40px;
  padding-left: 40px;
}

.column-2 {
  padding-right: 40px;
  padding-left: 0px;
}

.column-3 {
  padding-right: 0px;
  padding-left: 0px;
}

.column-4 {
  padding-right: 40px;
  padding-left: 40px;
}

.image-2 {
  border-radius: 40px;
}

.image-3 {
  border-radius: 20px;
}

.map {
  position: relative;
  left: auto;
  top: auto;
  overflow: visible;
  width: 100%;
  border-radius: 20px;
  font-family: Vollkorn, serif;
  color: #000;
  font-weight: 700;
}

.bold-text-2 {
  font-family: Vollkorn, serif;
}

.heading-2 {
  font-family: Vollkorn, serif;
}

.paragraph-3 {
  font-family: Montserrat, sans-serif;
  font-style: italic;
  font-weight: 300;
}

.container-2 {
  position: relative;
  z-index: 2;
  text-align: center;
}

.dropdown {
  width: 100%;
}

.icon {
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.dropdown-toggle {
  width: 100%;
  border-bottom: 2px solid #fff;
  font-family: Vollkorn, serif;
  color: #fff;
  font-size: 20px;
}

.dropdown-list {
  background-color: #332a2a;
}

.dropdown-list.w--open {
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
}

.paragraph-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.accordion-item {
  overflow: hidden;
  width: 100%;
  border-bottom: 2px solid #fff;
  color: #fff;
}

.accordion-toggle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Vollkorn, serif;
  color: #fff;
  font-size: 20px;
}

.text-block {
  width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-size: 22px;
  white-space: normal;
}

.dropdown-list-2 {
  position: static;
  display: block;
  padding: 0px 20px 20px;
  background-color: rgba(255, 255, 255, 0);
}

.section-3 {
  padding-top: 100px;
  padding-bottom: 40px;
}

.text-block-2 {
  font-family: Montserrat, sans-serif;
  text-align: center;
}

.bold-text-4 {
  text-align: center;
}

.container-3 {
  margin-bottom: 40px;
  padding-top: 40px;
}

.div-block-2 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(38%, rgba(0, 0, 0, 0.78)), color-stop(77%, transparent));
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.78) 38%, transparent 77%);
}

.div-block-3 {
  position: absolute;
  left: 50%;
  top: 0px;
  display: none;
  overflow: visible;
  width: 50%;
  height: 100%;
}

.container-4 {
  position: static;
}

.wethepeople {
  display: block;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.div-block-4 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.64);
}

.modal {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.heading-3 {
  padding-bottom: 61px;
  font-family: Vollkorn, serif;
  font-size: 90px;
  font-weight: 400;
  text-align: center;
}

.paragraph-5 {
  width: 100%;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
}

.paragraph-5.thanks {
  width: 80%;
  margin-top: 60px;
  font-size: 22px;
}

.div-block-6 {
  position: relative;
  width: 870px;
  margin-top: 220px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.button {
  position: static;
  display: inline-block;
  margin-top: 40px;
  padding: 20px 40px;
  float: none;
  clear: none;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.w-nav-link.w--current {
  color: inherit;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.soldout {
  text-decoration: line-through;
}

@media screen and (max-width: 991px) {
  .image {
    display: inline-block;
    overflow: visible;
  }

  .image.mobile {
    display: none;
  }

  .nav-menu {
    display: inline-block;
    width: auto;
  }

  .section {
    height: 30vh;
  }

  .div-block-6 {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .image {
    display: none;
  }

  .image.mobile {
    display: inline-block;
    height: 40px;
    margin-top: 20px;
  }

  .nav-menu {
    display: inline-block;
  }

  .nav-link {
    padding-right: 10px;
  }

  .paragraph {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 20px;
    line-height: 23px;
  }

  .section-2.utopia {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .section-2.refreshments {
    max-width: 90%;
    padding-top: 50px;
    padding-bottom: 0px;
  }

  .section-2.weneedyou {
    padding-top: 39px;
    padding-bottom: 40px;
  }

  .section-2.mapsection {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .div-block {
    text-align: center;
  }

  .div-block.utopiatext {
    text-align: center;
  }

  .columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .columns.utopia-columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .paragraph-2 {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .heading {
    text-align: center;
  }

  .column {
    padding-right: 0px;
    padding-left: 0px;
  }

  .column-2 {
    padding-top: 40px;
    padding-right: 0px;
  }

  .image-3 {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .container-2 {
    max-width: 90%;
  }

  .faq {
    max-width: 90%;
  }

  .div-block-2 {
    background-color: rgba(0, 0, 0, 0.63);
    background-image: none;
    text-align: center;
  }

  .wethepeople {
    width: 90%;
  }

  .heading-3 {
    font-size: 60px;
  }

  .paragraph-5 {
    font-size: 30px;
  }

  .paragraph-5.thanks {
    font-size: 18px;
  }

  .div-block-6 {
    margin-top: 40px;
  }

  .container-5 {
    text-align: center;
  }

  .container-6 {
    max-width: 90%;
  }

  .container-7 {
    max-width: 90%;
    font-size: 14px;
  }

  .container-8 {
    max-width: 90%;
  }

  .column-5 {
    overflow: hidden;
    height: 0px;
  }
}

@media screen and (max-width: 479px) {
  .section {
    height: 20vh;
  }

  .get-tickets {
    display: none;
  }

  .heading-3 {
    padding-bottom: 10px;
    font-size: 40px;
  }

  .paragraph-5 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    line-height: 26px;
  }

  .paragraph-5.thanks {
    margin-top: 20px;
    font-size: 15px;
    line-height: 19px;
  }

  .div-block-6 {
    margin-top: auto;
  }

  .container-7 {
    max-width: 90%;
  }
}

