@media (max-width: 767px) {
    .banner-slider .title-banner-slide {
        font-size: 17px;
        margin-bottom: 0;
        line-height: 17px;
    }

    .banner-slider .desc-banner-slide {
        font-size: 16px;
        line-height: 28px;
    }

    .banner-slider .website-title {
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 0;
        line-height: inherit;
    }

    .banner-slider:before {
        opacity: .6;
        background-position-y: center;
        background-position-x: -100px;
        background-repeat: no-repeat;
        background-size: 170%;
    }

    .banner-slider {
        height: 100vh;
        padding: 10vmin 0 50px;
        color: #fff;
        position: relative;
        background-color: #000;
        opacity: 1;
    }

    .buy-area {
        margin-top: 20px;
        width: 100%;
    }
    .ticket .btn-warning {
        width: 100%;
    }
    div.ticket .info {
        width: 100%;
    }
    .human-entry-name input {
        width: 95%;
    }
    .human-entry-beers select {
        width: 75%;
    }





    /**
    success page
     */
    .successPage .website-title {
        font-size: 40px;
        margin-bottom: 0;
    }
    .successPage .title-banner-slide {
        font-size: 19px;
        margin-bottom: 0;
    }


}
