@font-face {
    font-family: Vollkorn;
    src: url("../font/Vollkorn-VariableFont_wght.ttf");
}

.fonty {
    font-family: Vollkorn, serif;
}


.banner-slider {
    position: relative;
    height: 90vh;
    background-image: url(../images/fold.jpg);
    background-position: 50% 50%;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

/*.banner-slider:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
    z-index: -1;
    background-image: url(../images/6202025a5b987141d5f2a372_bg.jpg);
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

.banner-slider .content-banner-slider,
.successPage .content-banner-slider {
    margin-bottom: 30px;
    text-align: center;
}

.banner-slider .website-title,
.successPage .website-title {
    font-size: 90px;
    font-weight: 600;
    line-height: 90px;
    margin-bottom: 15px;
    text-align: center;
}

.banner-slider .title-banner-slide,
.successPage .title-banner-slide {
    font-size: 29px;
    line-height: 42px;
    margin-bottom: 20px;
}

.banner-slider .desc-banner-slide,
.successPage .desc-banner-slide {
    font-size: 25px;
    line-height: 28px;
    color: lightblue;
}

.content-button {
    bottom: 0;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-bottom: 30px;
}

.content-button .btn-warning,
.ticket .btn-warning {
    color: white;
    background-color: #154473;
    border-color: #0e365d;
    padding: 10px 30px;
}




section {
    padding: 80px 0;
}

.content-default-section {
    padding-right: 40px;
}

.title-default-section {
    font-weight: 900;
    font-size: 35px;
    line-height: 33px;
    margin-bottom: 5px;
}

.sub-title-default-section {
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 20px;
}

.shape-future {
    background-color: #0e0036;
}

.desc-default-section {
    font-size: 17px;
    margin: 0;
    padding-bottom: 10px;
}

.img-default-section img {
    width: 100%;
}

div.ticket > div {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

div.ticket {
    text-align: left;
    background: #54a7df;
    border-radius: 15px;
    margin: 0 0 20px;
    padding: 20px;
}
.tickets-section input {
    background-color: transparent;
    border: 0;
}

footer {
    background-color: black;
    padding: 30px 0;
    color: white;
}

.background {
    background-color: #e5c99a;
    color: white;
}

.no-bottom {
    padding: 0;
}

.human-entry input {
    background: white;
    padding: 7px;
    margin-top: 7px;
    border-radius: 5px;
    width: 90%;
}

.human-entry {
    display: flex;
}

.human-entry-beers {
    margin-top: 12px;
}
.ticket div.name {
    font-weight: bold;
}

.accordion-button:not(.collapsed) {
    background-color: #54a7df;
    color: white;
}

.accordion-item:first-of-type .accordion-button,
.accordion-item:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.accordion-body {
    padding: 1rem 1.25rem 1rem 2.5rem;
    background-color: black;
}



.navbar {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    width: 100%;
    background-color: #161616;
}


.join-us {
    background-color: #000;
    background-image: url(../images/join.jpg);
    background-position: 50% 100%;
    background-size: cover;
    position: relative;
    z-index: 0;
}

button.accordion-button.collapsed {
    background: black;
    color: white;
    border: 0;
}

.smol-area {
    width: 70%;
    margin: 40px auto;
    line-height: 40px;
}
.smol-area .desc-default-section {
    font-size: 30px;
    margin: 0;
    padding-bottom: 10px;
}

.join-us .title-default-section {
    line-height: 40px;
}

.div-block-2 {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(38%, rgba(0, 0, 0, 0.78)), color-stop(77%, transparent));
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.78) 38%, transparent 77%);
}

body {
    background-color: black;
    color: white;
}

.logo-image {
    height: 60px;
    margin-top: 10px;
}

nav.nav-menu.w-clearfix.w-nav-menu {
    float: right;
}

.logo-container {
    float: left;
}

.smol-container {
    width: 75%;
    padding: 5px 0;
}
.smol-container a {
    color: white;
    padding-top: 20px;
    padding-right: 0px;
}

.img-default-section.future img {
    max-height: 600px;
    width: auto;
    border-radius: 20px;
}

.shape-future .smol-area .desc-default-section {
    font-size: 20px;
    line-height: 25px;
}








.successPage {
    height: 100vh;
    padding: 30vmin 0 50px;
    color: #fff;
    position: relative;
    z-index: 1;
    background-color: #000;
}
.successPage #orderDetails {
    margin-top: 50px;
}
